<a href="https://colab.research.google.com/github/econ3010/recsys_kaggle/blob/main/recsys_kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

お手本のサイト

https://www.kaggle.com/code/zjzhao1002/movie-recommendation-system-v2


お題のサイト

https://www.kaggle.com/datasets/parasharmanas/movie-recommendation-system/data

In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
df1 = pd.read_csv("movie/movies.csv")
print(df1.head())

   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy

In [4]:

df1.isna().sum()

movieId    0
title      0
genres     0
dtype: int64